<turbo-frame id="user-info">
    <section class="about-me py-10 px-8" id="about">
        <h2 class="section__title section__title--about text-3xl font-bold text-slate-700">Who I am</h2>
        <p class="section__subtitle section__subtitle--about">{{ userInfo.aboutMeTitle }}</p>

        <div class="about-me__body">
            <p>
                {{ userInfo.whoAmI|raw }}
            </p>
        </div>

        {% if userInfo.avatarBig %}
            <img src="{{ asset('uploads/projects/%s' | format(userInfo.avatarBig)) }}"
                 alt="Image of me"
                 class="about-me__img">
        {% endif %}

    </section>
</turbo-frame>
