<div id="react-header"></div>

{% block javascripts %}
    <script>
        window.githubUrl = {{ github|json_encode|raw }};
        window.linkedinUrl = {{ linkedin|json_encode|raw }};
    </script>
{% endblock %}
