<div id="react-header"  {{ stimulus_controller('header',{
    'github': github|json_encode|raw,
    'linkedin': linkedin|json_encode|raw
}) }}></div>

{% block javascripts %}
    <script>
        window.githubUrl = {{ github|json_encode|raw }};
        window.linkedinUrl = {{ linkedin|json_encode|raw }};
    </script>
{% endblock %}
