{% if projects|length > 0 %}
    <section class="my-work py-10 px-8" id="work">
        <h2 class="section__title section__title--services">My work</h2>
        <div class="portfolio">

            {% for project in projects %}
                {% if project.bgImg %}
                    <a href="{{ path('project_show',{slug:project.slug}) }}" class="portfolio__item">
                        <img src="{{ asset('uploads/projects/%s' | format(project.bgImg)) }}" alt=""
                             class="portfolio__img">
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </section>
{% endif %}
