<!-- My services -->
<section class="my-services py-10 px-8" id="services">
    <h2 class="section__title section__title--services">What I do</h2>
    <div class="services">
        <div class="service pb-4">
            <h3 class="text-base md:text-xl pb-1 font-bold">Backend Development</h3>
            <p class="text-sm md:text-base">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor
                incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip
                ex ea commodo consequat.</p>
        </div> <!-- / service -->

        <div class="service pb-4">
            <h3 class="text-base md:text-xl pb-1 font-bold">E-Commerce</h3>
            <p class="text-sm md:text-base">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor
                incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip
                ex ea commodo consequat.</p>
        </div> <!-- / service -->

        <div class="service pb-4">
            <h3 class="text-base md:text-xl pb-1 font-bold">Frontend Development</h3>
            <p class="text-sm md:text-base">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt
                ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat.</p>
        </div> <!-- / service -->
    </div> <!-- / services -->
</section>