<!-- User services -->

<turbo-frame id="user-services">
    <section class="my-services py-10 px-8" id="services">
        <h2 class="section__title section__title--services">What I do</h2>
        <div class="services">

            {% for service in services %}
                <div class="service pb-4">
                    <h3 class="text-base md:text-xl pb-1 font-bold">{{ service.title }}</h3>
                    <p class="text-sm md:text-base">{{ service.description }}</p>
                </div>
            {% endfor %}
        </div>
    </section>
</turbo-frame>
