//@use 'components/admin';
//@use 'components/profile';
//@use 'components/projects';

//@use 'layout/footer';
//@use 'layout/header';

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "icons/scss/fontawesome.scss";
@import "icons/scss/solid.scss";
@import "icons/scss/brands.scss";
@import "components/errors";

body {
  @apply bg-slate-300 w-full m-0 h-full bg-slate-50;
  font-family: 'Spartan', sans-serif;
  transition: opacity 200ms;
}

main {
  @apply grow;
}

header, main, footer {
  @apply shrink-0;
}

.login-bg {
  @apply absolute top-0 w-full h-full bg-slate-900;

  background: linear-gradient(#141e30, #243b55);
}

.tag {
  @apply bg-slate-200 text-slate-500 inline-block relative no-underline;
  border-radius: 3px;
  height: 26px;
  line-height: 27px;
  padding: 0 20px 0 23px;
  -webkit-transition: color 0.2s;
}

.tag::before, .sm-tag::before {
  @apply absolute bg-white;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  width: 6px;
  top: 10px;
}

.tag:hover {
  @apply text-white bg-red-600;
}

.sm-tag {
  @apply bg-slate-800 text-slate-300 inline-block relative no-underline;
  border-radius: 3px;
  height: 26px;
  line-height: 27px;
  padding: 0 20px 0 23px;
  -webkit-transition: color 0.2s;
  pointer-events: none;
}

.btn {
  @apply relative inline-block isolate rounded;
  color: var(--btn-clr, black);
  border: 2px solid var(--btn-clr, black);
  padding: .5em 1.5em;
  font-family: inherit;
  text-decoration: none;
  line-height: inherit;
  transition: color 300ms linear;
}

.btn-sm {
  @apply relative inline-block isolate rounded-sm;
  color: var(--btn-clr, #b3b3b3);
  border: 1px solid var(--btn-clr, #b3b3b3);
  padding: 0.25em 1.0em;
  font-family: inherit;
  text-decoration: none;
  font-size: 0.75rem;
  transition: color 300ms linear;
}

.btn-blue {
  --btn-clr: rgba(59, 130, 246, 1);
  --transform-origin: bottom;
}

.btn-red {
  --btn-clr: rgba(185, 28, 28, 1);
  --transform-origin: center;
}

.btn-gold {
  --btn-clr: rgba(245, 158, 11, 1);
  --transform-origin: center;
}

.btn-success {
  --btn-clr: rgba(16, 185, 129, 1);
  --transform-origin: center;
}

.btn-login {
  --btn-clr: rgba(17, 24, 39, 1);
  --transform-origin: top;
  @apply font-bold uppercase mr-1 mb-1 w-full px-6 py-3 shadow outline-none focus:outline-none;
}

.btn:hover, .btn-sm:hover {
  color: white;
}

.btn::after, .btn-sm::after {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  background: var(--btn-clr);
  transform: scale(1, 0);
  transform-origin: var(--transform-origin, center);
  transition: transform 300ms ease;
}

.btn:hover::after, .btn-sm:hover::after {
  transform: scale(1.01, 1.01);
}

.btn.fixed {
  border: 2px solid var(--btn-clr, black);
  @apply border-blue-900 border-b-0;
}


.btn.fixed:hover {
  border: 2px solid white;
  @apply border-b-0;
}

.project {

  @apply bg-white rounded;
  box-shadow: hsla(0, 0, 0, .2) 0 4px 2px -2px;
  max-width: 600px;

  &__header {
    .cover {
      background-size: cover;
      border-radius: 5px 5px 0 0;
      box-shadow: inset hsla(0, 0, 0, .2) 0 64px 64px 16px;
    }

    .no-cover {
      border-radius: 5px 5px 0 0;
      height: 15rem;
    }
  }

  &__body {
    @apply my-0 mx-auto;
  }

  &__footer {
    @apply my-0 mx-auto p-2 text-slate-600;
    border-top: 1px solid lighten(#333, 70%);

    ul {
      @apply flex flex-row justify-end flex-wrap pl-0 list-none items-center;
    }

    li:first-child {
      @apply mr-auto;
    }

    li + li {
      @apply ml-2;
    }

    li {
      @apply relative uppercase whitespace-nowrap text-center;
      color: lighten(#333, 40%);
      font-size: .75rem;

      & a {
        color: lighten(#333, 40%);
      }
    }
  }
}

.required::after {
  content: '*';
  @apply text-red-700
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 500ms;
}

.fade-enter-from, .fade-leave-to {
  opacity: 0;
}

.fade-enter-to, .fade-leave-from {
  opacity: 1;
}

.section__title {
  margin-bottom: .25em;
}

.my-services {
  background-color: #303030;
  background-image: url(../images/services-bc.jpg);
  background-size: cover;
  background-blend-mode: darken, multiply;
  @apply text-center text-white;
}

.section__title--services {
  @apply relative text-3xl font-bold text-blue-500;
}

.section__title--services::after {
  content: '';
  display: block;
  width: 20em;
  height: 1px;
  margin: 0.5em auto 1em;
  background: #fff;
  opacity: 0.25;
}

.section__subtitle {
  margin: 0;
  font-size: var(--fs-h3);
}

.section__subtitle--work {
  @apply font-bold text-blue-400;
  margin-bottom: 2em;
}

.services {
  margin-bottom: 2em;
}

.service {
  max-width: 500px;
  margin: 0 auto;
}

@media (min-width: 800px) {
  .services {
    display: flex;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  .service + .service {
    margin-left: 2em;
  }
}

//footer

.footer {
  background-color: #111;
  @apply text-3xl text-blue-500 text-center;
  padding: 1em 0;

}

.footer a {
  color: inherit;
  text-decoration: none;
}

.footer__link {
  @apply font-bold;
}

.footer__link:hover,
.social-list__link:hover {
  opacity: .7;
}

.footer__link:hover {
  text-decoration: underline;
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0 0;
  padding: 0;
}

.social-list__item {
  margin: 0 .5em;
}

.social-list__link {
  padding: .5em;
}

// work images only

.my-work {
  background-color: #111;
  @apply text-center text-white;
}

.portfolio {
  @apply flex flex-row justify-center;
}

// about me fragment

.about-me {
  max-width: 1000px;
  margin: 0 auto;
}

.section__subtitle--about {
  @apply bg-blue-500 text-white font-bold;
  padding: .25em 1em;
  margin-bottom: 1em;
}

@media (min-width: 600px) {
  .about-me {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-areas:
            "title img"
            "subtitle img"
            "text img";
    grid-column-gap: 2em;
  }

  .section__title--about {
    grid-area: title;
  }

  .section__subtitle--about {
    grid-column: 1 / -1;
    grid-row: 2;
    position: relative;
    left: -1em;
    width: calc(100% + 2em);
    padding-left: 1em;
    padding-right: calc(200px + 4em);
  }

  .about-me__img {
    grid-area: img;
    position: relative;
    z-index: 2;
  }
}

body.turbo-loading {
  opacity: 0.8;
}

turbo-frame {
  display: block;
}

turbo-frame[busy] {
  opacity: 0.6;
}

.turbo-progress-bar {
  @apply bg-lime-400;
}