{% extends 'base.html.twig' %}

{% block title %}
    Project home page

{% endblock %}

{% block body %}

    <h1>All my free time project</h1>

    {% for project in projects %}
        <p>{{ project.name }}</p>
        <div>{{ project.description }}</div>
        <a href="{{ path('project_show',{slug:project.slug}) }}">Project {{ project.name }}</a>

    {% endfor %}

{% endblock %}

