{% extends 'base.html.twig' %}

{% block title %}
    Project home page

{% endblock %}

{% block body %}

    <h1>All my free time project</h1>
    <a href="{{ path('app_show',{slug:'test project'}) }}">Project</a>

    <p>{{ text }}</p>

{% endblock %}

