{% extends 'base.html.twig' %}

{% block title %} Project {% endblock %}

{% block body %}

<h1>{{ project.name }}</h1>

<div>
    Eventually this WILL BE awesome project detail
</div>

<h4>Description ({{ project.description|raw }})</h4>

    {% if project.createdAt %}
        <div>Created: {{ project.createdAt|ago }}</div>
    {% else %}
        (not published)
    {% endif %}


    <a href="{{ path('app_homepage') }}">Home</a>

{% endblock %}